@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

:root {
  --album-height: 123px;
  --album-width: 123px;
}

.app {
  min-height: 100vh;
  background: lightblue;
  background: linear-gradient(70deg, rgba(246,224,176,1) 0%, rgba(241,245,204,1) 35%, rgba(0,212,255,1) 100%);
}

.initialState{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  padding: 20px;
  font-family: 'Cairo', sans-serif;
}

.initialStateText {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lavender;
  margin-bottom: 20px;
  padding: 5px;
}

.mainHeader {
  font-size: 50px;
  padding: 10px;
  color: #1DB954;
  line-height: 40px;
}

.subtext {
  font-size: 30px;
  padding: 10px;
}

#loginButton{
  background-color: rgb(0, 150, 0);
  color: white;
  font-size: 25px;
  font-family: 'Cairo', sans-serif;
  padding: 15px;
  border-radius: 12px;
  text-align:center;
}

.imageBox {
  height: 500px;
  width: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./peter.png');
  background-size: cover;
}

.imageBox > img{
  position: relative;
  z-index: 2;
  height: var(--album-height);
  width: var(--album-width);
}
.album1 {
  top: 44px;
  left: -5px;
}

.album2 {
  bottom: 133px;
  right: 74px;
}

.album3 {
  bottom: 134px;
  left: 69px;
}

.album4 {
  top: 33px;
  right: -4px;
}

